<h3>Phones</h3>

<div id="phones_list">
  <input class="search" placeholder="Search" />

  <ul class="list">
    <% @phones.each do |phone| %>
      <li>
        <p class="name"><%= link_to phone.name, phone %></p>
      </li>
    <% end %>
  </ul>
</div>

<br>

<%= link_to 'New Phone', new_phone_path %>
