# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d913dd5788b31dc34b0b31f1398c2f5d97aaf4d308f381694dcedfe43f0f4991a7c269244c9695fd7a4e22209589cddfb68701b7f534c49652988024827f4325

test:
  secret_key_base: ec7b4812a2d42e3eee159fe9cbc885fb330d63d389b2197068ec3ff919347377476c0294de43c0e591b1606501792ce6e2ce3265d34c5c905ec82b30735d0766

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: ac3b4812a2d42e3eee179fe9cbc885fb520d63d389b123b668ec3ff912147325276c0294de2220e591b1abc01792ce6e2ce3265d34c5c905ec82b30735d0766
